<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Contact Us</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact us</a>
    </nav>
    <h1>Contact Us</h1>
    <p>Feel free to reach out to us through the following channels:</p>
    <ul>
        <li>Email: contact@gmail.com</li>
        <li>Phone: 71009876</li>
        <li>Address:BERGES DU LAC</li>
    </ul>
</body>
</html>
